<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetSpeed Tracker - Track your Internet Speed</title>
    <link rel="shortcut icon" href="https://www.shutterstock.com/shutterstock/photos/1018327852/display_1500/stock-vector-the-tachometer-speedometer-and-indicator-icon-speed-sign-logo-vector-1018327852.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script async src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script async src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="body">
        <div class="content">
            <main class="main" id="main">
                <h1>NetSpeed Tracker</h1>
                <h3>Track your Internet Speed and get graphical visualization of previous internet speed check history</h3>
                <div id="results">
                    <p><strong>Download Speed:</strong> <span id="download"></span> Mbps</p>
                    <p><strong>Upload Speed:</strong> <span id="upload"></span> Mbps</p>
                    <p><strong>Ping:</strong> <span id="ping"></span> ms</p>
                </div>
                <button class="button" onclick="runSpeedTest()">
                    <span class="spinner"></span>
                    <p class="button-text">Check Speed</p>
                </button>
            
                <h2 id="sub_title">Speed Test History</h2>
                <canvas id="speedTestChart"></canvas>
            </main>
        </div>
    </div>
</body>
</html>
